* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.head {
  display: flex;
}
.head img {
  width: 100px;
  border-radius: 50%;
}

/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #fff;
  padding: 10px 20px;
}

/* Style the logo */
.navbar-logo img {
  width: 60px;
  border-radius: 50%;
}

/* Style the anchor tags */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
